<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
  <!-- Was: -->
<!--     <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
    </li> -->
    <!-- Now: --> 
     <%= render @users %> 
  <% end %>
</ul>

<%= will_paginate %>